html{
  font-family: sans-serif;
  margin: 0;
  line-height: 1;
}

/* nav bar */


.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.logo{
  display: flex;
}

.nav a{
  color: #6d6d6d;
  padding: .5rem;
  text-decoration: none;
}

/* banner */

.banner{
  background-color: #e6e6e6;
  padding: 0;
  margin: 0;
}

.banner-content{
  display: flex;
  padding: 2rem 1.5rem;
  align-items: center;
}

.banner-img{
  width: 60%;
}

.banner-img img{
  max-width: 100%;
  margin: 0 auto;
}

.banner-context{
  padding-left: 1.5rem;
  color: #4d4d4d;
  text-align: left;
  font-family: calibri;
}

.banner-context{
  margin-right: 15rem;
}

.banner-context .text h1{
  font-size: 3rem;
  line-height: 2.4rem;
}

.banner-context .text h2{
  font-size: 1.5rem;
}

.button{
  background-color: #4d4d4d;
  padding: .5px 0;
  color: #e6e6e6;
  max-width: 60%;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.button:hover{
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.button p{
  font-size: 1.5rem;
}

/* content */

.content{
  display: block;
}

.containers{
  display: block;
}

/* first section: practice */
.feature{
  display: flex;
}

.practice{
  display: flex;
}

.left{
  margin: 2rem 1.5rem;
  width: 60%;
}

.left-img{
  width: 100%;
}

.left-img img{
  width: 100%;
  margin: 0 auto;
}

.left .text{
  font-family: calibri;
  max-width: 93%;
  color: #4d4d4d;
}

.right{
  display: block;
}

.card-box{
  display: block;
  margin: 2rem 0;
}

.horizontal-card{
  display: flex;
  padding: .5rem 0;
}

.horizontal-card .img{
  width: 35%;
}

.img img{
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  padding: .5rem;
}

.horizontal-card .description{
  padding-left: 2rem;
  color: #4d4d4d;
  width: 100%;
}

.horizontal-card .description p{
  margin-right: 1px;
}

.horizontal-card:hover{
  background-color: #e6e6e6;
}

.horizontal-card .description a{
  color: #38ACEC;
}

/* second section: learning */

.section-3{
  background-color: #e6e6e6;
  padding-top: 1rem;
}

.title{
  display: block;
  align-self: center;
}

.learning{
  display: flex;
}

.feature .learning{
  display: flex;
  justify-content: center;
}

.card-box2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  width: 80%;
}

.vertical-card{
  border-radius: 5px;
  width: 30%;
  margin-top: 2rem;
  margin-right: 2rem;
  background-color: white;
}

.vertical-card:hover{
  opacity: .7;
  box-shadow: box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.card-content{
  max-width: 100%;
}

.vertical-card .description{
  color: #4d4d4d;
  padding: .5rem;
}


.card-img{
  width: 100%;
  height: auto;
}

.card-img img{
  width: 100%;
  border-radius: 5px;
}

/* third section: thesis */
.title-container{
  display: block;
  align-items: center;
  text-align: center;
  font-family: calibri;
  color: #4d4d4d;
  font-size: 1.5rem;

}

.thesis{
  display: flex;
}

.left{
  max-width: 50%;
}

.video video{
  max-width: 100%;
  margin: 0 auto;
}

.left .text{
  font-family: calibri;
  max-width: 93%;
  color: #4d4d4d;
}

.right{
  display: block;
}

.card-box{
  display: block;
  margin: 2rem 0;
}

.horizontal-card{
  display: flex;
  padding: .5rem 0;
}

.horizontal-card .img{
  width: 35%;
}

.img img{
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  padding: .5rem;
}

.horizontal-card .description{
  padding-left: 2rem;
  padding-right: 1rem;
  color: #4d4d4d;
  width: 100%;
}

.horizontal-card .description p{
  margin-right: 1px;
}

.horizontal-card:hover{
  background-color: #e6e6e6;
}

.horizontal-card .description a{
  color: #38ACEC;
}

/* footer */

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1.5rem;
  border-top: 1px solid gray;
  color: #6d6d6d;
}

.footer a{
  color: #6d6d6d;
}
