html{
  font-family: sans-serif;
  margin: 0;
  line-height: 1;
}

/* nav bar */

.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.logo{
  display: flex;
}

.nav a{
  color: #6d6d6d;
  padding: .5rem;
  text-decoration: none;
}

.mobile-nav-container{
  display: none;
}

@media only screen and (max-width: 700px) {
    .flex-container{
      display: none;
    }

    .mobile-nav-container{
      display: flex;
      justify-content: space-between;
      height: 2rem;
      align-content: center;
    }

    .mobile-nav a{
      margin-left: 2rem;
    }
}

/* banner */

.banner{
  background-color: #2E3F54;
  padding: 0;
  margin: 0;
}

.banner-content{
  display: flex;
  padding: 2rem 1.5rem;
  align-items: center;
}

.banner-img{
  width: 60%;
}

.banner-img .banner-img-box img{
  width: 100%;
}

.banner-context{
  padding-left: 1.5rem;
  color: #FFF8ED;
  text-align: left;
  font-family: helvetica;
}

.banner-context{
  margin-right: 0rem;
}

.banner-context .text h1{
  font-size: 3rem;
}

.banner-context .text h2{
  font-size: 1.5rem;
  font-weight: normal;
}

.button{
  background-color: #fff;
  padding: .5px 0;
  color: #2f5363;
  max-width: 60%;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.button:hover{
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.button p{
  font-size: 1.5rem;
}

/* mobile banner */

@media only screen and (max-width: 700px){
  .banner-content{
    display: block;
    padding: 0;
    padding-bottom: 6px;
  }

  .banner-img{
    width: 100%;
  }

  .banner-context .text h1{
    font-size: 2rem;
  }

  .banner-context .text h2{
    font-size: 1rem;

  }

  .button{
    background-color: #fff;
    padding: 1px;
    color: #2f5363;
    max-width: 30%;
    text-align: center;
    align-items: center;
    border-radius: 10px;
  }

  .button:hover{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    cursor: pointer;
  }

  .button p{
    font-size: 1rem;
  }
}

/* content */

.content{
  display: block;
}

.containers{
  display: block;
}

/* first section: practice */
.feature{
  display: flex;
}

.practice{
  display: flex;
  color: #2E3F54;
}

.left{
  margin: 2rem 1.5rem;
  width: 60%;
}

.left-img img{
  width: 100%;
  margin: 0 auto;
}

.left .text{
  font-family: helvetica;
  max-width: 93%;
}

/* hide left section for mobile */

@media only screen and (max-width: 700px) {
  .left{
    display: none;
  }
}

.right{
  display: block;
}

.card-box{
  display: block;
  margin: 2rem 0;
}

.horizontal-card{
  display: flex;
  padding: .5rem 0;
}

.horizontal-card .img{
  width: 35%;
}

.mobile-img{
  display: none;
}

.img img{
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  padding: .5rem;
}

.horizontal-card .description{
  padding-left: 2rem;
  font-family: helvetica;
  color: #2E3F54;
  width: 100%;
}

.horizontal-card:hover{
  background-color: #CEE2F9;
  cursor: pointer;
}

.horizontal-card .description a{
  color: #38ACEC;
}

.mobile-horizontal-card{
  display: none;
}

/* mobile cards */

@media only screen and (max-width: 700px) {
  .feature{
    display: block;
  }

  .practice{
    display: flex;
  }

  .right{
    display: none;
  }

  .card-box .horizontal-card{
    display: none;
  }

  .mobile-horizontal-card{
    display: block;
    width: 100%;
  }

  .mobile-horizontal-card .description{
    margin-bottom: 1rem;
    margin-left: 1rem;
    max-width: 80%;
  }

  .mobile-horizontal-card .mobile-img{
    display: block;
    }

  .mobile-img img{
    width: 90%;
    margin-left: 1rem;
  }

  .horizontal-card .img{
    display: none;
  }

  .horizontal-card .description{
    display: none;
  }

  .mobile-img{
    display: block;
  }

  .horizontal-card .mobile-img{
    display: none;
  }

}

/* second section: learning */

.section-2{
  background-color: #CEE2F9;
  padding-top: 1rem;
}

.title{
  display: block;
  align-self: center;
  color: #2E3F54;
}

.learning{
  display: flex;
}

.feature .learning{
  display: flex;
  justify-content: center;
}

.card-box2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  width: 80%;
}

.vertical-card{
  border-radius: 5px;
  width: 30%;
  margin-top: 2rem;
  margin-right: 2rem;
  background-color: white;
}

.vertical-card:hover{
  opacity: .7;
  box-shadow: box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.card-content{
  max-width: 100%;
}

.vertical-card .description{
  color: #2E3F54;
  padding: .5rem;
}


.card-img{
  width: 100%;
  height: auto;
}

.card-img img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}


/* mobile version of learning section */

@media only screen and (max-width: 700px) {
  .section-2{
    background-color: #fff;
    padding-top: 1rem;
    align-content: center;
    margin-bottom: 0;
  }

  .title{
    display: block;
    align-self: center;
    color: #2E3F54;
    font-size: 1rem;
  }

  .learning{
    display: block;
  }

  .feature .learning{
    display: block;
  }

  .card-box2{
    display: block;
    align-self: center;
    margin-top: 0;
    margin-bottom: 2rem;
    width: 90%;
    padding: 1rem;
  }

  .vertical-card{
    border-radius: 5px;
    width: 100%;
    margin-top: 1.5rem;
    background-color: white;
    margin: 2 1rem;
  }

  .vertical-card:hover{
    opacity: .7;
    box-shadow: box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    cursor: pointer;
  }

  .card-content{
    max-width: 100%;
  }

  .vertical-card .description{
    color: #2E3F54;
    padding: 1rem 1rem;
    background-color: #CEE2F9;
    border-radius: 5px;
  }

  .vertical-card .description h2{
    font-size: 1rem;
  }

  .vertical-card .description p{
    display: none;
  }


  .card-img{
    display: none;
  }
}

/* third section: thesis */
.title-container{
  display: block;
  align-items: center;
  text-align: center;
  font-family: helvetica;
  color: #2E3F54;
  font-size: 1.5rem;
}

.thesis{
  display: flex;
}

.left{
  max-width: 50%;
}

.video video{
  max-width: 100%;
  margin: 0 auto;
}

.left .text{
  font-family: calibri;
  max-width: 93%;
  color: #2E3F54;
}

.right{
  display: block;
}

.card-box{
  display: block;
  margin: 2rem 0;
}

.horizontal-card{
  display: flex;
  padding: .5rem 0;
}

.horizontal-card .img{
  width: 35%;
}

.img img{
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  padding: .5rem;
}

.horizontal-card .description{
  padding-left: 2rem;
  padding-right: 1rem;
  color: #2E3F54;
  width: 100%;
}

.horizontal-card .description p{
  margin-right: 1px;
}

.horizontal-card .description a{
  color: #38ACEC;
}

/* mobile version: thesis exhibits */
@media only screen and (max-width: 700px) {

  .title-container{
    display: block;
    align-items: center;
    text-align: center;
    font-family: calibri;
    color: #2E3F54;
    font-size: 1.5rem;

  }
  .feature .thesis .left{
    display: block;
    margin: 0;
  }

  .thesis .left .text{
    display: none;
  }

  .thesis .right{
    display: none;
  }


  .thesis .left .video video{
    width: 90%;
    margin: 0;
  }

}

/* footer */

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1.5rem;
  border-top: 1px solid gray;
  color: #6d6d6d;
}

.footer a{
  color: #6d6d6d;
}

/* mobile footer */
.footer-nav{
  display:none;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 1.5rem;
  border-top: 1px solid gray;
  color: #6d6d6d;
}

.footer a{
  color: #6d6d6d;
}
